@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/fonts/NanumBarunGothic.woff2');
  font-weight: normal;
  
}

:root {
  --font-nanum: 'NanumBarunGothic';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-nanum);
  white-space: nowrap;
}